{% extends "bootstrapBase.jinja" %}
{% block body %}
    <div class="d-flex flex-column">
        <div class="align-self-center">
            {% if name %}
                <h1>Hello
                    {{ name }}!</h1>
            {% else %}
                <h1>Hello, World!</h1>
            {% endif %}
        </div>
        <div class="align-self-center">
            <form method="post">
                <div class="form-group">
                    <label for="search">Search</label>
                    <input type="text" class="form-control" id="search" placeholder="Please enter better default" name="search"></div>
                        <div class="form-group">
                            <label for="website">Search domain</label>
                            <select class="form-control" id="website" name="website">
                                <option>Sausage</option>
                                <option>Vtubers</option>
                                <option>Sonic fan characters</option>
                                <option>Super powers</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        {% endblock %}
