{% extends "bootstrapBase.jinja" %}
{% block body %}
  <h1>  <center ><a href={{url}}>{{title}}</a></center></h1>
  <p>  {%if image_src%}
  <center>
	<img src={{image_src}} alt={{title}}>
	</center>
	 	{%endif%}</p>
	<p>{{text}}</p>
    <center>
        <a class="btn btn-primary" href="/search" role="button">Try again</a>
    </center>

{% endblock %}
